In [11]:
import numpy as np
import pandas as pd
from randomuser import RandomUser

In [12]:
r = RandomUser()

In [13]:
some_list = r.generate_users(10)
some_list

[<randomuser.RandomUser at 0x1f88b0f9690>,
 <randomuser.RandomUser at 0x1f88b0f9990>,
 <randomuser.RandomUser at 0x1f88b0f9110>,
 <randomuser.RandomUser at 0x1f88b0f9a90>,
 <randomuser.RandomUser at 0x1f88b0f93d0>,
 <randomuser.RandomUser at 0x1f88b0fb350>,
 <randomuser.RandomUser at 0x1f88b0f9c90>,
 <randomuser.RandomUser at 0x1f88b0f95d0>,
 <randomuser.RandomUser at 0x1f88b0f9d10>,
 <randomuser.RandomUser at 0x1f88b0f9fd0>]

In [14]:
name = r.get_full_name()
name

'Vincent Marshall'

In [15]:
for user in some_list:
    print(user.get_full_name(), " ", user.get_email(), " ", user.get_picture())

Archer Wright   archer.wright@example.com   https://randomuser.me/api/portraits/men/11.jpg
Noemie Marie   noemie.marie@example.com   https://randomuser.me/api/portraits/women/86.jpg
Paulina Guerin   paulina.guerin@example.com   https://randomuser.me/api/portraits/women/62.jpg
Brad Gregory   brad.gregory@example.com   https://randomuser.me/api/portraits/men/39.jpg
Emeline Philippe   emeline.philippe@example.com   https://randomuser.me/api/portraits/women/59.jpg
Steve Holland   steve.holland@example.com   https://randomuser.me/api/portraits/men/29.jpg
Eemil Annala   eemil.annala@example.com   https://randomuser.me/api/portraits/men/29.jpg
Sedef Öymen   sedef.oymen@example.com   https://randomuser.me/api/portraits/women/24.jpg
Priscilla Rogers   priscilla.rogers@example.com   https://randomuser.me/api/portraits/women/25.jpg
Zoe Robinson   zoe.robinson@example.com   https://randomuser.me/api/portraits/women/6.jpg

# User generator

In [18]:
def get_users(cant):
    users = []

    for user in RandomUser.generate_users(cant):
        users.append({'Name: ': user.get_full_name(), "Gender: ": user.get_gender(), "City: ": user.get_city(), "State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})

    return pd.DataFrame(users)

In [19]:
poblation1 = get_users(3)
poblation1

,Name:,Gender:,City:,State,Email,DOB,Picture
0,Magret Röttger,female,Erbach,Hessen,magret.rottger@example.com,1948-02-02T05:14:29.214Z,https://randomuser.me/api/portraits/women/84.jpg
1,Melodie Ginnish,female,Selkirk,Prince Edward Island,melodie.ginnish@example.com,1991-08-13T09:31:50.670Z,https://randomuser.me/api/portraits/women/14.jpg
2,Jessi Lievaart,female,Gendt,Limburg,jessi.lievaart@example.com,1980-11-03T06:16:03.565Z,https://randomuser.me/api/portraits/women/55.jpg

---