In [2]:
import pandas as pd
import csv, sqlite3

<h3><font style="color: orange;">Creating connection to my database</font></h3>

In [3]:
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

<h4><font style="color: yellow; ">Loading SQL magic module</font></h4>

In [4]:
%load_ext sql

<h4><font style="color: yellow; ">Establishing connection between SQL magit and the database</font></h4>

In [5]:
%sql sqlite:///FinalDB.db

<h3><font style="color: orange; ">Adding csv data into my dataset</font></h3>

In [6]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CENSUS_DATA', con, if_exists='replace', index=False, method='multi')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_PUBLIC_SCHOOLS', con, if_exists='replace', index=False, method='multi')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_CRIME_DATA', con, if_exists='replace', index=False, method='multi')

533

In [7]:
#%sql PRAGMA table_info(CENSUS_DATA)
#%sql PRAGMA table_info(CHICAGO_PUBLIC_SCHOOL)
%sql PRAGMA table_info(CHICAGO_CRIME_DATA)

 * sqlite:///FinalDB.db
Done.

[(0, 'ID', 'INTEGER', 0, None, 0),
 (1, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (2, 'DATE', 'TEXT', 0, None, 0),
 (3, 'BLOCK', 'TEXT', 0, None, 0),
 (4, 'IUCR', 'TEXT', 0, None, 0),
 (5, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (6, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (7, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'ARREST', 'INTEGER', 0, None, 0),
 (9, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (10, 'BEAT', 'INTEGER', 0, None, 0),
 (11, 'DISTRICT', 'INTEGER', 0, None, 0),
 (12, 'WARD', 'REAL', 0, None, 0),
 (13, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (14, 'FBICODE', 'TEXT', 0, None, 0),
 (15, 'X_COORDINATE', 'REAL', 0, None, 0),
 (16, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (17, 'YEAR', 'INTEGER', 0, None, 0),
 (18, 'LATITUDE', 'REAL', 0, None, 0),
 (19, 'LONGITUDE', 'REAL', 0, None, 0),
 (20, 'LOCATION', 'TEXT', 0, None, 0)]

<h2><font style="color: skyblue">Problems</font></h2>

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [9]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [10]:
%%sql
SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD 
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
AND CD.PERCENT_AGED_UNDER_18_OR_OVER_64 between 16 AND 21

 * sqlite:///FinalDB.db
Done.

[('HH343366',),
 ('HH493814',),
 ('HK350670',),
 ('HM803061',),
 ('HR149903',),
 ('HS164946',),
 ('HS498285',),
 ('HT542713',),
 ('HV445580',),
 ('HV479133',),
 ('HV528008',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [11]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD 
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER 
AND CCD.PRIMARY_TYPE LIKE '%kidnapping%'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [12]:
%%sql 
SELECT DISTINCT(DESCRIPTION) FROM CHICAGO_CRIME_DATA 
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('SIMPLE',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('TO VEHICLE',),
 ('POSS: HEROIN(WHITE)',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('TO LAND',),
 ('BOMB THREAT',)]

### Problem 6  <font style="color: red">Not complete</font>

##### List the type of schools along with the average safety score for each type.

In [13]:
%sql SELECT PERCENT_OF_HOUSING_CROWDED FROM CENSUS_DATA;

 * sqlite:///FinalDB.db
Done.

[(7.7,),
 (7.8,),
 (3.8,),
 (3.4,),
 (0.3,),
 (1.1,),
 (0.8,),
 (1.9,),
 (1.1,),
 (2.0,),
 (2.7,),
 (1.1,),
 (3.9,),
 (11.3,),
 (4.1,),
 (6.3,),
 (5.2,),
 (8.1,),
 (10.8,),
 (6.9,),
 (6.0,),
 (3.2,),
 (14.8,),
 (2.3,),
 (6.3,),
 (9.4,),
 (8.2,),
 (3.8,),
 (7.4,),
 (15.2,),
 (9.6,),
 (1.5,),
 (1.3,),
 (5.7,),
 (1.8,),
 (1.3,),
 (3.2,),
 (3.3,),
 (2.4,),
 (5.6,),
 (1.5,),
 (2.9,),
 (2.8,),
 (3.3,),
 (1.4,),
 (4.7,),
 (6.8,),
 (2.1,),
 (2.5,),
 (1.5,),
 (4.0,),
 (6.8,),
 (3.3,),
 (5.8,),
 (3.3,),
 (2.6,),
 (8.5,),
 (14.4,),
 (7.2,),
 (4.5,),
 (11.9,),
 (11.1,),
 (15.8,),
 (2.7,),
 (5.8,),
 (7.6,),
 (4.8,),
 (3.8,),
 (3.6,),
 (4.0,),
 (4.0,),
 (0.9,),
 (1.1,),
 (1.0,),
 (0.8,),
 (3.6,),
 (4.1,),
 (4.7,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [14]:
%%sql 
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA 
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC 
LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8 <font style="color: red">Not complete</font>

##### Which community area is most crime prone? Display the coumminty area number only.

In [19]:
#%sql SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA WHERE

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [20]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA 
ORDER BY HARDSHIP_INDEX DESC 
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [48]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_AREA 
WHERE COMMUNITY_AREA_NUMBER = ()

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) no such table: CENSUS_AREA
[SQL: SELECT COMMUNITY_AREA_NAME FROM CENSUS_AREA
WHERE MAX((SELECT COUNT(COMMUNITY_AREA_NUMBER) AS COUNT_NUMBER FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY DESC))]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [55]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) AS COUNT_AREA FROM CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COUNT_AREA DESC 
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [39]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, COUNT(COMMUNITY_AREA_NUMBER) AS COUNT_AREA FROM CENSUS_DATA 
GROUP BY COMMUNITY_AREA_NAME 
ORDER BY COUNT_AREA DESC;

 * sqlite:///FinalDB.db
Done.

[(42.0, 'Woodlawn', 1),
 (24.0, 'West Town', 1),
 (2.0, 'West Ridge', 1),
 (53.0, 'West Pullman', 1),
 (65.0, 'West Lawn', 1),
 (26.0, 'West Garfield Park', 1),
 (67.0, 'West Englewood', 1),
 (62.0, 'West Elsdon', 1),
 (40.0, 'Washington Park', 1),
 (73.0, 'Washington Height', 1),
 (3.0, 'Uptown', 1),
 (43.0, 'South Shore', 1),
 (30.0, 'South Lawndale', 1),
 (51.0, 'South Deering', 1),
 (46.0, 'South Chicago', 1),
 (49.0, 'Roseland', 1),
 (1.0, 'Rogers Park', 1),
 (54.0, 'Riverdale', 1),
 (50.0, 'Pullman', 1),
 (15.0, 'Portage Park', 1),
 (36.0, 'Oakland', 1),
 (76.0, "O'Hare", 1),
 (10.0, 'Norwood Park', 1),
 (13.0, 'North Park', 1),
 (29.0, 'North Lawndale', 1),
 (5.0, 'North Center', 1),
 (61.0, 'New City', 1),
 (28.0, 'Near West Side', 1),
 (33.0, 'Near South Side', 1),
 (8.0, 'Near North Side', 1),
 (74.0, 'Mount Greenwood', 1),
 (75.0, 'Morgan Park', 1),
 (18.0, 'Montclaire', 1),
 (59.0, 'McKinley Park', 1),
 (31.0, 'Lower West Side', 1),
 (32.0, 'Loop', 1),
 (22.0, 'Logan Square', 1),
 (4.0, 'Lincoln Square', 1),
 (7.0, 'Lincoln Park', 1),
 (6.0, 'Lake View', 1),
 (39.0, 'Kenwood', 1),
 (11.0, 'Jefferson Park', 1),
 (16.0, 'Irving Park', 1),
 (41.0, 'Hyde Park', 1),
 (23.0, 'Humboldt park', 1),
 (20.0, 'Hermosa', 1),
 (55.0, 'Hegewisch', 1),
 (69.0, 'Greater Grand Crossing', 1),
 (38.0, 'Grand Boulevard', 1),
 (56.0, 'Garfield Ridge', 1),
 (63.0, 'Gage Park', 1),
 (37.0, 'Fuller Park', 1),
 (12.0, 'Forest Glen', 1),
 (68.0, 'Englewood', 1),
 (9.0, 'Edison Park', 1),
 (77.0, 'Edgewater', 1),
 (52.0, 'East Side', 1),
 (27.0, 'East Garfield Park', 1),
 (17.0, 'Dunning', 1),
 (35.0, 'Douglas', 1),
 (64.0, 'Clearing', 1),
 (66.0, 'Chicago Lawn', 1),
 (44.0, 'Chatham', 1),
 (48.0, 'Calumet Heights', 1),
 (47.0, 'Burnside', 1),
 (58.0, 'Brighton Park', 1),
 (60.0, 'Bridgeport', 1),
 (72.0, 'Beverly', 1),
 (19.0, 'Belmont Cragin', 1),
 (21.0, 'Avondale', 1),
 (45.0, 'Avalon Park', 1),
 (25.0, 'Austin', 1),
 (71.0, 'Auburn Gresham', 1),
 (70.0, 'Ashburn', 1),
 (34.0, 'Armour Square', 1),
 (57.0, 'Archer Heights', 1),
 (14.0, 'Albany Park', 1),
 (None, 'CHICAGO', 0)]