In [ ]:
import pandas as pd
import csv, sqlite3
#prueba

<h3><font style="color: orange;">Creating connection to my database</font></h3>

In [ ]:
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

<h4><font style="color: yellow; ">Loading SQL magic module</font></h4>

In [ ]:
%load_ext sql

<h4><font style="color: yellow; ">Establishing connection between SQL magit and the database</font></h4>

In [ ]:
%sql sqlite:///FinalDB.db

<h3><font style="color: orange; ">Adding csv data into my dataset</font></h3>

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CENSUS_DATA', con, if_exists='replace', index=False, method='multi')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_PUBLIC_SCHOOLS', con, if_exists='replace', index=False, method='multi')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_CRIME_DATA', con, if_exists='replace', index=False, method='multi')

533

In [ ]:
#%sql PRAGMA table_info(CENSUS_DATA)
#%sql PRAGMA table_info(CHICAGO_PUBLIC_SCHOOL)
%sql PRAGMA table_info(CHICAGO_CRIME_DATA)

 * sqlite:///FinalDB.db
Done.

[(0, 'ID', 'INTEGER', 0, None, 0),
 (1, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (2, 'DATE', 'TEXT', 0, None, 0),
 (3, 'BLOCK', 'TEXT', 0, None, 0),
 (4, 'IUCR', 'TEXT', 0, None, 0),
 (5, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (6, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (7, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'ARREST', 'INTEGER', 0, None, 0),
 (9, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (10, 'BEAT', 'INTEGER', 0, None, 0),
 (11, 'DISTRICT', 'INTEGER', 0, None, 0),
 (12, 'WARD', 'REAL', 0, None, 0),
 (13, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (14, 'FBICODE', 'TEXT', 0, None, 0),
 (15, 'X_COORDINATE', 'REAL', 0, None, 0),
 (16, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (17, 'YEAR', 'INTEGER', 0, None, 0),
 (18, 'LATITUDE', 'REAL', 0, None, 0),
 (19, 'LONGITUDE', 'REAL', 0, None, 0),
 (20, 'LOCATION', 'TEXT', 0, None, 0)]

<h2><font style="color: skyblue">Problems</font></h2>

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [ ]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [ ]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
'''
%%sql
SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
AND CD.PERCENT_AGED_UNDER_18_OR_OVER_64 between 16 AND 21
'''
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [ ]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
AND CCD.PRIMARY_TYPE LIKE '%kidnapping%'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [ ]:
%%sql
SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [ ]:
%%sql SELECT 'Elementary, Middle, or High School', AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOL
GROUP BY 'Elementary, Middle, or High School';

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) no such table: CHICAGO_PUBLIC_SCHOOL
[SQL: SELECT 'Elementary, Middle, or High School' , AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOL
GROUP BY 'Elementary, Middle, or High School']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [ ]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [ ]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(*) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [ ]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
ORDER BY HARDSHIP_INDEX DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%%sql
SELECT CD.COMMUNITY_AREA_NAME, COUNT(CCD.COMMUNITY_AREA_NUMBER) AS REPEAT_TIME FROM CENSUS_DATA CD, CHICAGO_CRIME_DATA CCD
WHERE CD.COMMUNITY_AREA_NUMBER = CCD.COMMUNITY_AREA_NUMBER
GROUP BY CD.COMMUNITY_AREA_NAME
ORDER BY REPEAT_TIME DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Austin', 43)]