In [14]:
import pandas as pd
import csv, sqlite3

<h3><font style="color: orange;">Creating connection to my database</font></h3>

In [15]:
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

<h4><font style="color: yellow; ">Loading SQL magic module</font></h4>

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

<h4><font style="color: yellow; ">Establishing connection between SQL magit and the database</font></h4>

In [17]:
%sql sqlite:///FinalDB.db

<h3><font style="color: orange; ">Adding csv data into my dataset</font></h3>

In [18]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CENSUS_DATA', con, if_exists='replace', index=False, method='multi')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_PUBLIC_SCHOOLS', con, if_exists='replace', index=False, method='multi')

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_CRIME_DATA', con, if_exists='replace', index=False, method='multi')

533

In [19]:
#%sql PRAGMA table_info(CENSUS_DATA)
#%sql PRAGMA table_info(CHICAGO_PUBLIC_SCHOOL)
%sql PRAGMA table_info(CHICAGO_CRIME_DATA)

 * sqlite:///FinalDB.db
Done.

[(0, 'ID', 'INTEGER', 0, None, 0),
 (1, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (2, 'DATE', 'TEXT', 0, None, 0),
 (3, 'BLOCK', 'TEXT', 0, None, 0),
 (4, 'IUCR', 'TEXT', 0, None, 0),
 (5, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (6, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (7, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'ARREST', 'INTEGER', 0, None, 0),
 (9, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (10, 'BEAT', 'INTEGER', 0, None, 0),
 (11, 'DISTRICT', 'INTEGER', 0, None, 0),
 (12, 'WARD', 'REAL', 0, None, 0),
 (13, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (14, 'FBICODE', 'TEXT', 0, None, 0),
 (15, 'X_COORDINATE', 'REAL', 0, None, 0),
 (16, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (17, 'YEAR', 'INTEGER', 0, None, 0),
 (18, 'LATITUDE', 'REAL', 0, None, 0),
 (19, 'LONGITUDE', 'REAL', 0, None, 0),
 (20, 'LOCATION', 'TEXT', 0, None, 0)]

<h2><font style="color: skyblue">Problems</font></h2>

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [20]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [21]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3 <font style="color: red">Complete</font>

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [30]:
%%sql
SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD 
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
AND CD.PERCENT_AGED_16__UNEMPLOYED < 21

 * sqlite:///FinalDB.db
Done.

[('HK328522',),
 ('HK577020',),
 ('HM244120',),
 ('HM360756',),
 ('HN595319',),
 ('HT368471',),
 ('HH729144',),
 ('HM422467',),
 ('HP746347',),
 ('HR607189',),
 ('HS314108',),
 ('HY291329',),
 ('HZ334220',),
 ('HJ620738',),
 ('HL141298',),
 ('HN370211',),
 ('HV268708',),
 ('HL725506',),
 ('HR190881',),
 ('HX154767',),
 ('HM543491',),
 ('HN136243',),
 ('HN280980',),
 ('HS451246',),
 ('HH343366',),
 ('HH493814',),
 ('HK350670',),
 ('HM803061',),
 ('HR149903',),
 ('HS164946',),
 ('HS498285',),
 ('HT542713',),
 ('HV445580',),
 ('HV479133',),
 ('HV528008',),
 ('HK450946',),
 ('HL240985',),
 ('HL266884',),
 ('HP121474',),
 ('HV534721',),
 ('HH463517',),
 ('HJ458342',),
 ('HJ760939',),
 ('HK498590',),
 ('HL239939',),
 ('HL330223',),
 ('HL382289',),
 ('HM324025',),
 ('HM590468',),
 ('HN702776',),
 ('HP243837',),
 ('HP265256',),
 ('HX258445',),
 ('HY234744',),
 ('HY273740',),
 ('HJ642080',),
 ('HM200888',),
 ('HT621306',),
 ('HM535632',),
 ('HZ378355',),
 ('HK310265',),
 ('HR535632',),
 ('HR576816',),
 ('HT535175',),
 ('HV514287',),
 ('HZ534771',),
 ('HJ753917',),
 ('HN335611',),
 ('HN407116',),
 ('HP513177',),
 ('HY202462',),
 ('HH867007',),
 ('HJ527694',),
 ('HM303461',),
 ('HN645348',),
 ('HS230740',),
 ('HW238778',),
 ('HZ335434',),
 ('JA550741',),
 ('HM661326',),
 ('HR489129',),
 ('HV575905',),
 ('JA107722',),
 ('JA560123',),
 ('HH337319',),
 ('HJ254782',),
 ('HM337445',),
 ('HP157774',),
 ('HS475732',),
 ('HT404326',),
 ('HW274134',),
 ('JB213238',),
 ('HK481967',),
 ('HK677648',),
 ('HY455698',),
 ('HJ532105',),
 ('HK103473',),
 ('HK361551',),
 ('HN567387',),
 ('HZ432273',),
 ('JA384163',),
 ('HH460583',),
 ('HJ786817',),
 ('HK100758',),
 ('HL177398',),
 ('HL269210',),
 ('HN637742',),
 ('HY377901',),
 ('HY396729',),
 ('JA110097',),
 ('HJ580490',),
 ('HJ637197',),
 ('HK456306',),
 ('HK728309',),
 ('HL319228',),
 ('HL590300',),
 ('HL703172',),
 ('HL718742',),
 ('HM284854',),
 ('HM556695',),
 ('HM590293',),
 ('HN275969',),
 ('HN472326',),
 ('HP661088',),
 ('HR447925',),
 ('HR505781',),
 ('HT457930',),
 ('HV592346',),
 ('HY204891',),
 ('JA143710',),
 ('JA246453',),
 ('JA412895',),
 ('HJ672058',),
 ('HJ842548',),
 ('HK815196',),
 ('HL187666',),
 ('HL613433',),
 ('HL680775',),
 ('HN519755',),
 ('HR345366',),
 ('HS540106',),
 ('HW526270',),
 ('HY182950',),
 ('JA394755',),
 ('JA496716',),
 ('HJ618818',),
 ('HL415544',),
 ('HL608698',),
 ('HR408597',),
 ('HT315369',),
 ('HT390647',),
 ('HX239866',),
 ('HZ242203',),
 ('HH702524',),
 ('HJ575773',),
 ('HJ652747',),
 ('HJ776916',),
 ('HK369511',),
 ('HM733422',),
 ('HN200365',),
 ('HR136920',),
 ('HT180228',),
 ('HV185969',),
 ('HV233824',),
 ('HV593288',),
 ('HW566855',),
 ('HZ133234',),
 ('HZ372381',),
 ('JA557966',),
 ('HJ409442',),
 ('HL446401',),
 ('HN224900',),
 ('HS568476',),
 ('HX145326',),
 ('HX354359',),
 ('HY368284',),
 ('JA272438',),
 ('HH619797',),
 ('HL315870',),
 ('HL632721',),
 ('HM757133',),
 ('HR261581',),
 ('HR342598',),
 ('HR399710',),
 ('HT237921',),
 ('HX314361',),
 ('HJ804627',),
 ('HN731220',),
 ('HP320451',),
 ('HW557360',),
 ('HX225704',),
 ('HX509438',),
 ('HY189363',),
 ('HZ322965',),
 ('HH329720',),
 ('HJ419340',),
 ('HL424420',),
 ('HP716225',),
 ('HS681158',),
 ('HJ723825',),
 ('HP340132',),
 ('HP691879',),
 ('HZ309936',),
 ('HH859922',),
 ('HS269736',),
 ('HH696901',),
 ('HK348713',),
 ('HK694552',),
 ('HL353697',),
 ('HS498920',),
 ('HT394616',),
 ('HT556032',),
 ('HV353560',),
 ('HW213573',),
 ('HL334216',),
 ('HM437597',),
 ('HM576559',),
 ('HR281750',),
 ('HS595785',),
 ('HT133522',),
 ('HT404945',),
 ('HZ192829',),
 ('JA349450',),
 ('HJ336995',),
 ('HK238408',),
 ('HK341632',),
 ('HR271603',),
 ('HR539548',),
 ('HV366181',),
 ('HJ563089',),
 ('HL472862',),
 ('HM535930',),
 ('HM673431',),
 ('HS230912',),
 ('HS308747',),
 ('HV243612',),
 ('HX398190',),
 ('HZ134318',),
 ('JA393243',),
 ('JA490957',),
 ('HH657809',),
 ('HJ222529',),
 ('HK328402',),
 ('HS589302',),
 ('HK243330',),
 ('HR696852',),
 ('HL300450',),
 ('HM195342',),
 ('HM762800',),
 ('HR480844',),
 ('HS330202',),
 ('HY267896',),
 ('HV328581',),
 ('HN421595',),
 ('HV356389',),
 ('HH423186',),
 ('HK587712',),
 ('HL342355',),
 ('HP263901',),
 ('HS305355',),
 ('HT112422',),
 ('HT169840',),
 ('HW519443',),
 ('HZ234518',),
 ('HZ535494',),
 ('HJ415128',),
 ('JB151690',),
 ('HV268964',),
 ('HL660560',),
 ('HP558812',),
 ('HR125162',),
 ('HX332979',),
 ('HH605275',),
 ('HJ678713',),
 ('HL611297',),
 ('HR674429',),
 ('HV462975',),
 ('HX112183',),
 ('HY405637',),
 ('HP317516',),
 ('HV402967',),
 ('HR385117',),
 ('HT434553',),
 ('HX552797',),
 ('G577663',),
 ('HJ710634',),
 ('HL567458',),
 ('HN543219',),
 ('HR392537',),
 ('HR597126',),
 ('HS100098',),
 ('HV369974',),
 ('HW441620',),
 ('HY163644',),
 ('HY192694',),
 ('HZ138551',),
 ('HJ349966',),
 ('HM768251',),
 ('HN784049',),
 ('HR585012',),
 ('HY365876',),
 ('HZ242802',),
 ('JA460432',),
 ('JB155558',),
 ('HL149610',),
 ('HP258815',),
 ('HT251336',),
 ('HT427568',),
 ('HJ561433',),
 ('HL646682',),
 ('HZ556726',),
 ('HX165034',),
 ('HH486939',),
 ('HN778969',),
 ('HX262353',),
 ('HZ463811',),
 ('HM392612',),
 ('HV537004',)]

### Problem 4 <font style="color: red">Complete</font>

##### List all kidnapping crimes involving a child?

In [33]:
%%sql
SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD 
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
AND CD.PERCENT_AGED_16__UNEMPLOYED < 21 
AND

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) incomplete input
[SQL: SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD
WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
AND CD.PERCENT_AGED_16__UNEMPLOYED < 21
AND]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

### Problem 6

##### List the type of schools along with the average safety score for each type.

### Problem 7

##### List 5 community areas with highest % of households below poverty line

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?